<!-- Google tag (gtag.js) -->
<script n:if="$code" async src="https://www.googletagmanager.com/gtag/js?id={$code}"></script>
<script n:if="$code">
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', {$code});
  {if $showLoggedUserId}gtag('set', {'user_id': {$user->id}});{/if}
</script>
